* {
  box-sizing: border-box;
  /* margin: 0px; */
}


div {
  position: absolute;

  top: calc(50% - 100px) ;
  left: 50%;

  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #eee;

  color: #03A9F4;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 50px;
  font-weight: bold;
}

div::before {
  z-index: -1;
  position: absolute;
  
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;

  background-color: transparent;
  border: 10px solid #E91E63 ;
  border-left:  10px solid transparent;

  transition: 0.5s 0s ease;
} 

div::after {
  z-index: -2;
  position: absolute;
  content: "";
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: transparent;
  border: 10px solid #03A9F4;
  border-right:  10px solid transparent;

  transition: 0.5s 0s ease;
}


div:hover::before{
transform: rotate(1turn);
}
div:hover::after{
transform: rotate(1turn);
}