* {
    box-sizing: border-box;
    margin: 0px;
}
*::before,*::after {
    box-sizing: border-box;
    margin: 0px;
}

div {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);

    border: 5px solid #2095E2;
    border-bottom: 5px solid transparent;

    animation-name: rotate-circels;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

div:hover {
    animation-play-state: running;
}

div:hover::after{
    
    animation-play-state: running;
}

div::before {
    content: "";

    width: 70px;
    height: 70px;
    border-radius: 50%;

    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);

    border: 5px solid #FCA100;
    border-bottom: 5px solid transparent;
    
    animation-delay: 0.3s;
}

div::after {
    content: "";
    
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    
    border: 5px solid #000;
    border-bottom: 5px solid transparent;
    
    animation-delay:0.6s;
}

@keyframes rotate-circels {
    to {
        transform: rotate(360deg);
    }
}