.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: 30px auto;
  gap: 10px;
}

.grid div {
    background-color: #607D8B;
    color: white;
    counter-increment: count;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid div::after {
    content: "Element " counter(count);
}
