body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,auto);
    gap: 10px;
}

.product-card {
    padding: 10px;
    background-color: #eee;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.product-card p {
}


/* Mobile */
@media (max-width: 767px){
    .product-card {
        grid-column: 4 span;
    }

    .product-card strong {
        color: black;
    }
}

/* small screens */
@media (min-width: 768px){
    .product-card {
        grid-column: 4 span;
    }

    .product-card strong {
        color: black;
    }
}

/* meduim screens */
@media (min-width: 992px){
    
    .product-card {
         grid-column: 2 span;
    }

    .product-card strong {
        color: red;
    }
    
}

/* Large screens */
@media (min-width: 1200px){
    
    .product-card {
          grid-column: 1 span;
    }
    .product-card strong {
        color: turquoise;;
    }
}