.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;

  margin: auto;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px  40px;
  gap: 10px;
  
  align-content: space-between;

}

.grid div {
  background-color: #E91E63;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}