.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;

  margin: auto;

  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
  grid-template-rows: 1fr 30px;
  gap: 10px;
}

.grid div {
  background-color: #403F3F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}